.left {
    h1 {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 30px;
        display: block;
        white-space: normal;
    }
}
.left-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    border-right: 1px solid #ededed;
    height: 100vh;
    padding: 0;
    .left {
        position: relative;
        &:after {
            background: #000;
            display: block;
            width: 60px;
            height: 4px;
            margin-top: 70px;
        }
        h1 {
            font-size: 54px;
            font-weight: 700;
            margin: 0px 0;
            line-height: initial;
        }
        p {
            font-size: 14px;
            opacity: 0.66;
            margin: 20px 0 0 0;
            position: relative;
            span {
                font-weight: 600;
            }
        }
    }
}
.range-form {
    margin-bottom: 30px;
}
.fn-from {
    display: flex;
}
.login-user .btn-end,
.login-user .re-pass {
    display: inline-block;
    vertical-align: middle;
}
.login-user {
    .re-pass {
        margin-left: 20px;
    }
}
.btn-end {
    .btn {
        display: inline-block;
        border-radius: 0;
        border: none;
        background: #252a2b;
        padding: 0 30px;
        height: 55px;
        line-height: 55px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
        &:hover {
            background: #e29481;
        }
    }
}
.re-pass {
    color: #959898;
    font-weight: 500;
}
.user-box {
    h2 {
        font-size: 20px;
        margin: 0 0 20px;
        font-weight: 600;
    }
    .r-box {
        width: 100%;
        height: 55px;
        border: 1px solid transparent;
        background: #ededed;
        color: #252a2b;
        padding: 0 20px;
        font-weight: 500;
        &:focus {
            background: #fff;
            border-color: #ededed;
        }
    }
    .h-box {
        width: 100%;
        height: 55px;
        border: 1px solid transparent;
        background: #ededed;
        color: #252a2b;
        padding: 0 20px;
        font-weight: 500;
        &:focus {
            background: #fff;
            border-color: #ededed;
        }
    }
}
.icon-field {
    display: none;
}
.right-page {
    padding: 80px;
}
.breadcrumb {
    border-radius: 0;
    margin-bottom: 5px;
}
li {
    &.breadcrumb-item {
        padding: 8px 12px;
    }
}
.back-home {
    margin-top: 35px;
    display: block;
    font-weight: 500;
    i {
        margin-right: 20px;
    }
}
