.wrapper {
    //display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    //font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &.store {
        font-size: 2.2rem;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.seemore {
    display: inline-block;
    padding: 12px 28px;
    border: 1px solid #ddd;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 15px;
    &:hover {
        background-color: #e29481;
        color: #fff;
    }
}
.seemore2 {
    a {
        padding: 8px 14px;
        margin-top: 12px;
        display: inline-block;
        background-color: #e29481;
        color: #fff;
        font-size: 13px;
        border-radius: 6px;
        &:hover {
            text-indent: 12px;
            transition: 0.5s;
            padding-right: 26px;
        }
    }
}

.text {
    font-size: 14px;
    font-weight: 400;
}
.pay {
    border: 1px solid #f1f1f1;
    display: inline-block;
    margin: 20px 0 0 20px;
    font-size: 15px;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    outline: none;
}
.signinup {
    display: inline-block;
    border-radius: 0;
    border: none;
    font-size: 14px;
    background: #252a2b;
    padding: 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    &:hover {
        background: #e29481;
    }
}

// Button sizes
.small {
    min-width: 30px;
    //padding: 4px 16px;
    border-radius: 0%;
}

.large {
    width: 260px;
    height: 50px;
    border: none;
    font-size: 17px;
    background: black;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: none;
    padding: 14px 35px;
    line-height: 22px;
    font-weight: bold;
    &:hover {
        background-color: #e29481 !important;
    }
}
.blurred {
    height: 46px;
    width: 120px;
    background: #c8c8c8;
    box-shadow: none;
    margin-left: 0.9em;
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    padding: 1.4em 1.7em;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
    color: white;
}
.complete {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
    background: #338dbc;
    color: white;
}
