@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese';

* {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}
html,
body {
    border: 0;
    background-color: #fff;
}
html {
    font-size: 60%;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    line-height: 1.4;
    font-size: 14px;
    color: #111111;
    overflow-x: hidden;
    background: #fff;
    position: initial;
    font-family: 'Quicksand';
    font-size: 14px;
}
.clear-fix {
    clear: both;
}
.padding-rl-40 {
    padding: 0 40px;
}
footer,
header,
menu,
nav,
section {
    display: block;
}
ul {
    padding: 0;
    list-style-type: none;
}
h4 {
    color: #111111;
    margin: 0 0 13px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 13px;
    line-height: 18px;
}
p {
    margin: 0 0 10px 0;
    line-height: 21px;
}
a {
    color: #111111;
    text-decoration: none;
    outline: none;
}
input {
    &:focus {
        outline: none;
    }
}
