.padding-lr-0 {
    padding: 0;
}
.top-bar {
    padding: 5px 40px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}
.inner-topbar a {
    color: black;
}
