.gallery-small {
    line-height: 0;
    margin-bottom: 10px;
    border: 1px solid #f7f7f8;
    width: 100%;
    &:active {
        border-color: #808284;
    }
    &:hover {
        border-color: #808284;
    }
}
.sticky {
    position: sticky;
    top: 0;
}
.name-productDetail {
    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: normal;
    }
}
.sku-product {
    float: left;
    width: 100%;
    margin: 8px 0;
    font-size: 12px;
    color: black;
    label {
        font-weight: normal;
        margin: 0;
    }
    span {
        color: #e29481;
        font-weight: bold;
    }
}
.infoPrice {
    border-bottom: 1px dotted #dfe0e1;
    padding: 0 0 20px 0;
    float: left;
    width: 100%;
    .price-preview {
        float: left;
        .pro-price {
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
    }
}
.des-product {
    margin: 0;
    padding-bottom: 0;
    clear: both;
    overflow: hidden;
    .title-product {
        margin: 0 0 10px 0;
        line-height: inherit;
        font-size: inherit;
        span {
            font-size: 14px;
        }
    }
    p {
        margin: 0 0 5px 0;
    }
}
.seclect-product {
    float: left;
    width: 100%;
    padding: 10px 0px;
    .select-detail {
        float: left;
        width: 100%;
        .select-color {
            padding: 10px 0;
            width: 100%;
            float: left;
            border-bottom: 1px dotted #dfe0e1;
            .title-color {
                margin: 0 0 8px;
                font-size: 13px;
                text-align: left;
                line-height: initial;
            }
        }
        .sel-color {
            display: inline-block;
            margin-right: 8px;
            position: relative;
            vertical-align: bottom;
            label {
                display: block;
                margin: 0;
                background: #fff;
                width: 40px;
                height: 40px;
                line-height: 40px;
                position: relative;
                border: 1px solid #e5e5e5;
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                cursor: pointer;
            }
            .label-color {
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;
                line-height: inherit;
                span {
                    display: inline-block;
                    width: 40px;
                    margin-top: 0;
                    font-size: 0;
                    border: 1px solid #dfe0e1;
                }

                img {
                    padding: 4px;
                }
            }
            &.selected {
                border: 1px solid #000000;
                s .label-color {
                    border: none;
                    span {
                        border: none;
                    }
                }
            }
            &.selected-size {
                background-color: #000000;
                color: #fff;
                label {
                    border: none;
                    background: none;
                }
            }
            &.disabled {
                background: url('https://theme.hstatic.net/200000000133/1000569834/14/cancel.png?v=6536') no-repeat;
                background-size: contain;
                background-color: #dfe0e1;
                pointer-events: none; /* Vô hiệu hóa sự kiện click */
                opacity: 0.5;
                label {
                    background: none;
                }
            }
        }
    }
    .guide-size {
        display: inline-block;
        margin-top: 9px;
        float: right;
        margin-right: 15%;
        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.selector-action {
    margin: 20px 0 20px 0;
    float: left;
    width: 100%;
    .quantity-choose {
        margin-bottom: 15px;
        .qty-number {
            padding: 0;
            float: left;
            display: block;
            margin: 0;
            background: #fff;
            width: 60px;
            height: 40px;
            line-height: 20px;
            position: relative;
            border: 1px solid #e5e5e5;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            border-left: none;
            border-right: none;
        }
        .qty-btn {
            float: left;
            display: block;
            margin: 0;
            background: #fff;
            width: 40px;
            height: 40px;
            line-height: 20px;
            position: relative;
            border: 1px solid #e5e5e5;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
        }
    }
    .btn-addtocart {
        background: url(https://file.hstatic.net/1000358207/file/shopping-cart.svg) no-repeat;
        background-size: 25px;
        background-position: 45px 11px;
        float: left;
        background-color: #000000;
    }
}
.storeNew {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 15px;
    float: left;
    width: calc(100% - 260px);
    .viewStore {
        float: left;
        margin: 13px 0 0 0;
        clear: both;
        width: 100%;
        color: rgb(25, 25, 25);
        display: inline-block;
        svg {
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0px;
            float: left;
        }
    }
}
.hotline-product {
    margin: 0 0 20px 0;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #e7e7e7;
    float: left;
    width: 100%;
    text-align: center;
    .title-hotline {
        font-size: 15px;
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
        a {
            color: #f00;
        }
    }
    .time-work {
        font-size: 15px;
        color: #333;
    }
}
.share-post {
    float: left;
    width: 100%;
    margin: 10px 0 20px 0;
    .title-com {
        h4 {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .share-title {
        font-weight: bold;
        float: left;
        margin-right: 10px;
    }
}
.box-pro-detail {
    max-width: 1170px;
    margin: 30px auto 0 auto;
    .list-pro-related {
        .sectionTitle {
            .heading-title {
                margin: 30px 0 60px 0;
                text-align: center;
                text-transform: uppercase;
                color: #222;
                font-size: 29px;
            }
        }
    }
}
.scrolled-pro {
    /* Định dạng header khi cuộn */
    position: fixed;
    top: 148px;
    z-index: 999;
    transition: transform 0.5s ease;
}
.scrolled-pro-right {
    /* Định dạng header khi cuộn */
    position: fixed;
    top: 148px;
    right: 40px;
    float: right;
    z-index: 999;
    transition: transform 0.5s ease;
}
